.jumbotron
  %table
    %tr
      %th Name
      %th Description
      %th Desire
      %th Price
      %th User Id
      %th
      %th
      %th

    - @gyfts.each do |gyft|
      %tr
        %td= gyft.name
        %td= gyft.description
        %td= gyft.desire
        %td= gyft.price
        %td= gyft.user.email
        %td= link_to 'Show', gyft
        - if gyft.user == current_user && user_signed_in?
        %td= link_to 'Edit', edit_gyft_path(gyft)
        %td= link_to 'Destroy', gyft, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br
  - if user_signed_in?
    = link_to 'New Gyft', new_gyft_path
