%p#notice= notice

%p
  %b Name:
  = @gyft.name
%p
  %b Description:
  = @gyft.description
%p
  %b Desire:
  = @gyft.desire
%p
  %b Price:
  = @gyft.price

= link_to 'Edit', edit_gyft_path(@gyft)
\|
= link_to 'Back', gyfts_path
