!!!
%html
  %head
    %title Gyfted
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render :partial => 'layouts/header'
    -#= link_to "about", about_path
    -#= link_to "home", root_path
    .container
      = yield
